software/NodeRED/flows.json
[
    {
        "id": "5fffdd7bd03e62e5",
        "type": "tab",
        "label": "DoorAssistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "790abfecdef18970",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "Contains all Dashboard nodes as well as the actions taken when they are updated"
    },
    {
        "id": "ba5dcfac39603564",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": "Contains all nodes that need to be configured by the enduser."
    },
    {
        "id": "372db699749e8d7d",
        "type": "tab",
        "label": "Debug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c3a0fe6168eb6b2",
        "type": "ui_tab",
        "name": "Konfiguration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e5d5e3048f6984c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#2260c3",
                "baseFont": "Georgia,Georgia,serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#2260c3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2260c3",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#5188e1",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2260c3",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Georgia,Georgia,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "DoorAssistant Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 3,
                "py": 3
            }
        }
    },
    {
        "id": "f6471c0a62158f36",
        "type": "ui_group",
        "name": "Klingel",
        "tab": "8c3a0fe6168eb6b2",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "08607024c7e3ecad",
        "type": "ui_group",
        "name": "Detector - Briefkasten",
        "tab": "8c3a0fe6168eb6b2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f1ab8464bc5464e",
        "type": "ui_group",
        "name": "Detector - Haustür",
        "tab": "8c3a0fe6168eb6b2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71a8f076f9291d03",
        "type": "ui_tab",
        "name": "Historie",
        "icon": "grid_on",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "242479a4a77e0476",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "71a8f076f9291d03",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "6bccc9f8e5419fdf",
        "type": "mqtt-broker",
        "name": "localhost MQTT broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dfb9b9ca7a860aee",
        "type": "telegram bot",
        "botname": "UOLSoftSkills_bot",
        "usernames": "HagenTest",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "cc5f1e88b5c6cfeb",
        "type": "ui_spacer",
        "z": "790abfecdef18970",
        "name": "spacer",
        "group": "f6471c0a62158f36",
        "order": 6,
        "width": "9",
        "height": 1
    },
    {
        "id": "9c67be281362cd0c",
        "type": "mqtt out",
        "z": "372db699749e8d7d",
        "name": "",
        "topic": "/DoorAssistant/Klingel/Press",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bccc9f8e5419fdf",
        "x": 430,
        "y": 700,
        "wires": []
    },
    {
        "id": "eeb7047aa53bb681",
        "type": "inject",
        "z": "372db699749e8d7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Pressed",
        "payloadType": "str",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "9c67be281362cd0c"
            ]
        ]
    },
    {
        "id": "f76c6b19923d9eb1",
        "type": "mqtt out",
        "z": "372db699749e8d7d",
        "name": "",
        "topic": "/DoorAssistant/Detector/Input",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bccc9f8e5419fdf",
        "x": 420,
        "y": 760,
        "wires": []
    },
    {
        "id": "925bb2e78820c2c0",
        "type": "inject",
        "z": "372db699749e8d7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MQTT IN 2",
        "payloadType": "str",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "f76c6b19923d9eb1"
            ]
        ]
    },
    {
        "id": "569ea312758d097c",
        "type": "mqtt out",
        "z": "372db699749e8d7d",
        "name": "",
        "topic": "/DoorAssistant/Klin22gel/Settin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bccc9f8e5419fdf",
        "x": 430,
        "y": 860,
        "wires": []
    },
    {
        "id": "e8504b3da6850cc4",
        "type": "inject",
        "z": "372db699749e8d7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MQTT IN 3",
        "payloadType": "str",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "569ea312758d097c"
            ]
        ]
    },
    {
        "id": "08d5d3b223e1af86",
        "type": "mqtt in",
        "z": "5fffdd7bd03e62e5",
        "name": "MQTT RECEIVER",
        "topic": "/DoorAssistant/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "6bccc9f8e5419fdf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 400,
        "wires": [
            [
                "067fe98f6691059c"
            ]
        ]
    },
    {
        "id": "067fe98f6691059c",
        "type": "switch",
        "z": "5fffdd7bd03e62e5",
        "name": "topic-SWITCH",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/DoorAssistant/Klingel",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/DoorAssistant/Briefkasten",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "4002428cebcdc6b2"
            ],
            [
                "5ad77385a7cb7f0e"
            ],
            [
                "8226624aabd5304c"
            ]
        ]
    },
    {
        "id": "5ad77385a7cb7f0e",
        "type": "switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BRIEFKASTEN",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/DoorAssistant/Briefkasten/Detected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 620,
        "wires": [
            [
                "6feb46805eac59c9"
            ],
            [
                "85b25059f6f16227"
            ]
        ]
    },
    {
        "id": "4002428cebcdc6b2",
        "type": "switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KLINGEL",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/DoorAssistant/Klingel/Press",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "e8f29149066f87f4"
            ],
            [
                "9c60fdbfb32214d1"
            ]
        ]
    },
    {
        "id": "9c60fdbfb32214d1",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "CATCHALL",
        "func": "node.warn(\"Received Invalid payload ( \" + msg.payload + \") at topic \" + msg.topic);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 360,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "85b25059f6f16227",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "CATCHALL",
        "func": "node.warn(\"Received Invalid payload ( \" + msg.payload + \") at topic \" + msg.topic);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 800,
        "wires": [],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "8226624aabd5304c",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "CATCHALL",
        "func": "node.warn(\"Received Invalid payload ( \" + msg.payload + \") at topic \" + msg.topic);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 760,
        "wires": [],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "7890b33b97cbd6a5",
        "type": "speakerpi-output",
        "z": "5fffdd7bd03e62e5",
        "choose": "givenfile",
        "filename": "/home/pi/police_s.wav",
        "channels": "1",
        "bitdepth": "16",
        "samplerate": "22050",
        "name": "SPEAKER",
        "x": 1330,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9d99a3159b10648f",
        "type": "rpi-gpio in",
        "z": "5fffdd7bd03e62e5",
        "name": "GPIO DOOR DETECTOR",
        "pin": "18",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "af782fe8082faa51"
            ]
        ]
    },
    {
        "id": "e8f29149066f87f4",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Enable-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelEnableSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "29bba17caca2abd1",
                "20bc9963bd38cecd",
                "3d6014238e34a9f7"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "29bba17caca2abd1",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Audio-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelAudioSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 80,
        "wires": [
            [
                "7890b33b97cbd6a5"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "20bc9963bd38cecd",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Messenger-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelMessengerSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 160,
        "wires": [
            [
                "cc83344250eb5a65"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "3d6014238e34a9f7",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "History-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelHistorySwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "3ccb61d424dc9016"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "3ccb61d424dc9016",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Klingel History Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 220,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "6feb46805eac59c9",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Enable-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"briefkastenEnableSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 600,
        "wires": [
            [
                "f734139f51182b01",
                "a8f13040b0acdf98",
                "0f2dc082c6d61e52"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "f734139f51182b01",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Audio-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"briefkastenAudioSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "beb2781250a79020"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "a8f13040b0acdf98",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Messenger-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"briefkastenMessengerSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "02abb73efe87f341"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "0f2dc082c6d61e52",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "History-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"briefkastenHistorySwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 680,
        "wires": [
            [
                "e3e8cf52c16925cd"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "beb2781250a79020",
        "type": "speakerpi-output",
        "z": "5fffdd7bd03e62e5",
        "choose": "givenfile",
        "filename": "/home/pi/police_s.wav",
        "channels": "1",
        "bitdepth": "16",
        "samplerate": "22050",
        "name": "SPEAKER",
        "x": 1330,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e3e8cf52c16925cd",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Detector History Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 680,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "3b14f17a82437726",
        "type": "telegram sender",
        "z": "372db699749e8d7d",
        "name": "",
        "bot": "dfb9b9ca7a860aee",
        "haserroroutput": false,
        "outputs": 1,
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f85a18e385831281",
        "type": "inject",
        "z": "372db699749e8d7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "egal",
        "payload": "{\"chatId\":\"1955069403\",\"type\":\"message\",\"content\":\"Hallo Welt\"}",
        "payloadType": "json",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "3b14f17a82437726",
                "8c374552b346e184"
            ]
        ]
    },
    {
        "id": "8c374552b346e184",
        "type": "debug",
        "z": "372db699749e8d7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "2d3659ed7dc354d4",
        "type": "telegram receiver",
        "z": "372db699749e8d7d",
        "name": "",
        "bot": "dfb9b9ca7a860aee",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "dacc69f07692c3ec",
                "1af6dec783b6d9b6"
            ],
            [
                "8c374552b346e184"
            ]
        ]
    },
    {
        "id": "dacc69f07692c3ec",
        "type": "function",
        "z": "372db699749e8d7d",
        "name": "",
        "func": "if(msg.payload.content === \"Ping\"){\n    msg.payload.content = \"Pong\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 480,
        "wires": [
            [
                "3b14f17a82437726"
            ]
        ]
    },
    {
        "id": "1af6dec783b6d9b6",
        "type": "function",
        "z": "372db699749e8d7d",
        "name": "GET_ID",
        "func": "if(msg.payload.content === \"/start\"){\n    node.warn(\"ChatID: \" + msg.payload.chatId);\n}",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b176c2177ffe4ba",
        "type": "telegram sender",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "bot": "dfb9b9ca7a860aee",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1590,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cc83344250eb5a65",
        "type": "change",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"chatId\":1955069403,\"type\":\"message\",\"content\":\"Jemand hat geklingelt!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 160,
        "wires": [
            [
                "1b176c2177ffe4ba"
            ]
        ]
    },
    {
        "id": "3adb7bdeef37c2df",
        "type": "telegram sender",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "bot": "dfb9b9ca7a860aee",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1590,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "02abb73efe87f341",
        "type": "change",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"chatId\":1955069403,\"type\":\"message\",\"content\":\"Sie haben Post!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "3adb7bdeef37c2df"
            ]
        ]
    },
    {
        "id": "51f8aba9f0c8c98e",
        "type": "comment",
        "z": "5fffdd7bd03e62e5",
        "name": "TODOS",
        "info": "- Make Telegram ChatId in change nodes dynamic\n- Improve Bot Description etc.\n- Centralize Configuration nodes somewhere",
        "x": 170,
        "y": 160,
        "wires": []
    },
    {
        "id": "f036d8da8d94fd18",
        "type": "inject",
        "z": "5fffdd7bd03e62e5",
        "name": "DBG INSERT 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pi/18",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "af782fe8082faa51"
            ]
        ]
    },
    {
        "id": "984da7dbce3b0972",
        "type": "inject",
        "z": "5fffdd7bd03e62e5",
        "name": "DBG INSERT 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pi/18",
        "payload": "1",
        "payloadType": "num",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "af782fe8082faa51"
            ]
        ]
    },
    {
        "id": "af782fe8082faa51",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "DetectChange",
        "func": "if(msg.payload === context.get(\"lastInput\")){\n    //do nothing\n}else{\n    //if(Date.now() - context.get(\"lastChange\") > 5000){//detect change every 5 seconds\n        context.set(\"lastInput\", msg.payload);//change 1->0, 0->1\n        //context.set(\"lastChange\", Date.now());\n        return msg;//pass on any message\n    //}\n}\nreturn null;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"lastInput\", 0);\n//context.set(\"lastChange\", 0);",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "43db9962062a2063"
            ]
        ]
    },
    {
        "id": "b6cdac6183b572d4",
        "type": "ui_slider",
        "z": "790abfecdef18970",
        "name": "",
        "label": "Klingel Intervall",
        "tooltip": "Zeit, die zwischen zwei mal Klingeln mindestens vergehen muss",
        "group": "f6471c0a62158f36",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "str",
        "min": "1",
        "max": "60",
        "step": 1,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "e5396a270c3c2297"
            ]
        ]
    },
    {
        "id": "e5396a270c3c2297",
        "type": "mqtt out",
        "z": "790abfecdef18970",
        "name": "Update Klingel MinInterval",
        "topic": "/DoorAssistant/Klingel/Settings/MinInterval",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bccc9f8e5419fdf",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "f05e1201011d7b9a",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "KlingelAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "f6471c0a62158f36",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelAudioSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "644018c6b599b222"
            ]
        ]
    },
    {
        "id": "644018c6b599b222",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "klingelAudioSwitch",
        "links": [
            "5bd71f31abc73c65"
        ],
        "x": 315,
        "y": 100,
        "wires": []
    },
    {
        "id": "5bd71f31abc73c65",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "klingelAudioIn",
        "links": [
            "644018c6b599b222"
        ],
        "x": 1035,
        "y": 60,
        "wires": [
            [
                "29bba17caca2abd1"
            ]
        ],
        "icon": "font-awesome/fa-bell"
    },
    {
        "id": "fb2259e72576cdf9",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "KlingelEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE Klingel-Funktionen",
        "group": "f6471c0a62158f36",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelEnableSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "8d9d6a1089ae81a1"
            ]
        ]
    },
    {
        "id": "8d9d6a1089ae81a1",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "klingelEnableSwitch",
        "links": [
            "f5edcdfc1b892d2e"
        ],
        "x": 315,
        "y": 40,
        "wires": []
    },
    {
        "id": "f5edcdfc1b892d2e",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "klingelEnableIn",
        "links": [
            "8d9d6a1089ae81a1"
        ],
        "x": 655,
        "y": 160,
        "wires": [
            [
                "e8f29149066f87f4"
            ]
        ],
        "icon": "font-awesome/fa-bell"
    },
    {
        "id": "d1704d7e764241e3",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "KlingelMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "f6471c0a62158f36",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelMessengerSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d736f1829a3d8565"
            ]
        ]
    },
    {
        "id": "d736f1829a3d8565",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "klingelMessengerSwitch",
        "links": [
            "80847de70f541784"
        ],
        "x": 315,
        "y": 160,
        "wires": []
    },
    {
        "id": "80847de70f541784",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "klingelMessengerIn",
        "links": [
            "d736f1829a3d8565"
        ],
        "x": 1035,
        "y": 140,
        "wires": [
            [
                "20bc9963bd38cecd"
            ]
        ],
        "icon": "font-awesome/fa-bell"
    },
    {
        "id": "f7619582f84dcfaa",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "KlingelHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "f6471c0a62158f36",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelHistorySwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "0cfb7d8af64066cc"
            ]
        ]
    },
    {
        "id": "0cfb7d8af64066cc",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "klingelHistorieSwitch",
        "links": [
            "a8addc971e126709"
        ],
        "x": 315,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8addc971e126709",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "klingelHistorieIn",
        "links": [
            "0cfb7d8af64066cc"
        ],
        "x": 1035,
        "y": 260,
        "wires": [
            [
                "3d6014238e34a9f7"
            ]
        ],
        "icon": "font-awesome/fa-bell"
    },
    {
        "id": "400c2a8b379635cc",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "DoorDetectorAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "4f1ab8464bc5464e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "doorAudioSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 1330,
        "y": 100,
        "wires": [
            [
                "29b2dbcc4d059759"
            ]
        ]
    },
    {
        "id": "24d2f2733022abe1",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "DoorDetectorMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "4f1ab8464bc5464e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "doorMessengerSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 1310,
        "y": 160,
        "wires": [
            [
                "5f082bfe75093f2b"
            ]
        ]
    },
    {
        "id": "7ee0595a96d9dff2",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "DoorDetectorHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "4f1ab8464bc5464e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "doorHistorieSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 1320,
        "y": 220,
        "wires": [
            [
                "ca0f93010716db9b"
            ]
        ]
    },
    {
        "id": "9ff247663cbcd4aa",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "DoorDetectorEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE HaustürDetector-Funktionen",
        "group": "4f1ab8464bc5464e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "doorEnableSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 1320,
        "y": 40,
        "wires": [
            [
                "47de2dbf6ad48895"
            ]
        ]
    },
    {
        "id": "da70b94e1f9d9f40",
        "type": "comment",
        "z": "790abfecdef18970",
        "name": "Icon Location",
        "info": "Icons von hier: https://www.angularjswiki.com/de/angular/angular-material-icons-list-mat-icon-list/",
        "x": 970,
        "y": 40,
        "wires": []
    },
    {
        "id": "c8b356f1d9181828",
        "type": "ui_slider",
        "z": "790abfecdef18970",
        "name": "DisplayEnableLengthSlider",
        "label": "Display Anzeige Dauer",
        "tooltip": "Wie lange das Display der Klingel angeschaltet sein soll, wenn Nachrichten angezeigt werden (Sekunden)",
        "group": "f6471c0a62158f36",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "20",
        "max": "120",
        "step": "5",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "19e4a7b0d1aeaafe"
            ]
        ]
    },
    {
        "id": "b444e3f6382097cc",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "DisplayEnableSwitch",
        "label": "Display Aktiviert",
        "tooltip": "Aktiviere oder Deaktiviere das gesamte Display",
        "group": "f6471c0a62158f36",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": true,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "73a320b62e9dea12"
            ]
        ]
    },
    {
        "id": "0eaa81b6bfe5deed",
        "type": "ui_template",
        "z": "790abfecdef18970",
        "group": "242479a4a77e0476",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "TODO\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 960,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "19e4a7b0d1aeaafe",
        "type": "mqtt out",
        "z": "790abfecdef18970",
        "name": "Update Klingel Display OnTime",
        "topic": "/DoorAssistant/Klingel/Settings/DisplayDuration",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bccc9f8e5419fdf",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "73a320b62e9dea12",
        "type": "mqtt out",
        "z": "790abfecdef18970",
        "name": "Update Klingel Display Enable",
        "topic": "/DoorAssistant/Klingel/Settings/DisplayEnable",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6bccc9f8e5419fdf",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "47de2dbf6ad48895",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "doorEnableSwitch",
        "links": [
            "585f6814eea559bf"
        ],
        "x": 1495,
        "y": 40,
        "wires": []
    },
    {
        "id": "29b2dbcc4d059759",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "doorAudioSwitch",
        "links": [
            "ef1123285df745e1"
        ],
        "x": 1495,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f082bfe75093f2b",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "doorMessengerSwitch",
        "links": [
            "cc5ac32caaa815b8"
        ],
        "x": 1495,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca0f93010716db9b",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "doorHistorieSwitch",
        "links": [
            "a13a23de5b110c44"
        ],
        "x": 1495,
        "y": 220,
        "wires": []
    },
    {
        "id": "f2deebfd255d5619",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "BriefkastenDetectorEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE BriefkastenDetector-Funktionen",
        "group": "08607024c7e3ecad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "briefkastenEnableSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 200,
        "y": 660,
        "wires": [
            [
                "60640ff60d24fd33"
            ]
        ]
    },
    {
        "id": "16c27ad7e552fd44",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "BriefkastenDetectorAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "08607024c7e3ecad",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "briefkastenAudioSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "a2742713705af42c"
            ]
        ]
    },
    {
        "id": "803f237d91d17217",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "BriefkastenDetectorMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "08607024c7e3ecad",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "briefkastenMessengerSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 190,
        "y": 780,
        "wires": [
            [
                "cc705cb6057cf485"
            ]
        ]
    },
    {
        "id": "c7c80280031918dc",
        "type": "ui_switch",
        "z": "790abfecdef18970",
        "name": "BriefkastenDetectorHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "08607024c7e3ecad",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "briefkastenHistorySwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 200,
        "y": 840,
        "wires": [
            [
                "b282835131ee2fea"
            ]
        ]
    },
    {
        "id": "60640ff60d24fd33",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "briefkastenEnableSwitch",
        "links": [
            "0f7f890419aa8be4"
        ],
        "x": 395,
        "y": 660,
        "wires": []
    },
    {
        "id": "a2742713705af42c",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "briefkastenAudioSwitch",
        "links": [
            "1ef7d43815058e9e"
        ],
        "x": 395,
        "y": 720,
        "wires": []
    },
    {
        "id": "cc705cb6057cf485",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "briefkastenMessengerSwitch",
        "links": [],
        "x": 395,
        "y": 780,
        "wires": []
    },
    {
        "id": "b282835131ee2fea",
        "type": "link out",
        "z": "790abfecdef18970",
        "name": "briefkastenHistorieSwitch",
        "links": [
            "649c786e2904d6c1"
        ],
        "x": 395,
        "y": 840,
        "wires": []
    },
    {
        "id": "0f7f890419aa8be4",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "briefkastenEnableIn",
        "links": [
            "60640ff60d24fd33"
        ],
        "x": 695,
        "y": 560,
        "wires": [
            [
                "6feb46805eac59c9"
            ]
        ],
        "icon": "node-red/envelope.svg"
    },
    {
        "id": "1ef7d43815058e9e",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "briefkastenAudioIn",
        "links": [
            "a2742713705af42c"
        ],
        "x": 1015,
        "y": 460,
        "wires": [
            [
                "f734139f51182b01"
            ]
        ],
        "icon": "node-red/envelope.svg"
    },
    {
        "id": "8d3d05a98b3dc658",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "briefkastenMessengerIn",
        "links": [],
        "x": 1015,
        "y": 560,
        "wires": [
            [
                "a8f13040b0acdf98"
            ]
        ],
        "icon": "node-red/envelope.svg"
    },
    {
        "id": "649c786e2904d6c1",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "briefkastenHistorieIn",
        "links": [
            "b282835131ee2fea"
        ],
        "x": 1015,
        "y": 720,
        "wires": [
            [
                "0f2dc082c6d61e52"
            ]
        ],
        "icon": "node-red/envelope.svg"
    },
    {
        "id": "43db9962062a2063",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Stringify",
        "func": "if (msg.payload == 0){\n    return {\n        \"topic\": \"doorOpened\",\n        \"payload\": \"Die Haustür wurde geöffnet\"\n    };\n}\n\nif(msg.payload == 1){\n    return {\n        \"topic\": \"doorClosed\",\n        \"payload\": \"Die Haustür wurde geschlossen\"\n    };\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "6fe5e37a4acfdc7e"
            ]
        ]
    },
    {
        "id": "6fe5e37a4acfdc7e",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Enable-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"doorEnableSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1040,
        "wires": [
            [
                "61390f33bd79e486",
                "5cd0595af3821963",
                "376611d0f7d4fee1"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "61390f33bd79e486",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Audio-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"doorAudioSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 920,
        "wires": [
            [
                "0a4ffccf64f101f7"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "5cd0595af3821963",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Messenger-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"doorMessengerSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return {\n            \"topic\": msg.topic,\n            \"payload\": {\n                \"chatId\": 1955069403,\n                \"type\": \"message\",\n                \"content\": msg.payload\n            }\n        };\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1040,
        "wires": [
            [
                "dfab1775f868b7e9"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "376611d0f7d4fee1",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "History-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"doorHistorySwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1120,
        "wires": [
            [
                "a3bbdca3a3ba277c"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "0a4ffccf64f101f7",
        "type": "speakerpi-output",
        "z": "5fffdd7bd03e62e5",
        "choose": "givenfile",
        "filename": "/home/pi/police_s.wav",
        "channels": "1",
        "bitdepth": "16",
        "samplerate": "22050",
        "name": "SPEAKER",
        "x": 1390,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a3bbdca3a3ba277c",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Detector History Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1120,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "dfab1775f868b7e9",
        "type": "telegram sender",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "bot": "dfb9b9ca7a860aee",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1410,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "585f6814eea559bf",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "briefkastenEnableIn",
        "links": [
            "47de2dbf6ad48895"
        ],
        "x": 715,
        "y": 1000,
        "wires": [
            [
                "6fe5e37a4acfdc7e"
            ]
        ]
    },
    {
        "id": "ef1123285df745e1",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "doorAudioIn",
        "links": [
            "29b2dbcc4d059759"
        ],
        "x": 1035,
        "y": 900,
        "wires": [
            [
                "61390f33bd79e486"
            ]
        ]
    },
    {
        "id": "cc5ac32caaa815b8",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "doorMessengerIn",
        "links": [
            "5f082bfe75093f2b"
        ],
        "x": 1035,
        "y": 1000,
        "wires": [
            [
                "5cd0595af3821963"
            ]
        ]
    },
    {
        "id": "a13a23de5b110c44",
        "type": "link in",
        "z": "5fffdd7bd03e62e5",
        "name": "doorHistorieIn",
        "links": [
            "ca0f93010716db9b"
        ],
        "x": 1035,
        "y": 1160,
        "wires": [
            [
                "376611d0f7d4fee1"
            ]
        ]
    }
]