software/NodeRED/flows.json
[
    {
        "id": "5fffdd7bd03e62e5",
        "type": "tab",
        "label": "DoorAssistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d5d944f5b3b1c0c",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "f6471c0a62158f36",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelAudioSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 870,
        "y": 40,
        "wires": [
            [
                "29bba17caca2abd1"
            ]
        ]
    },
    {
        "id": "2fbf4487aff65037",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "f6471c0a62158f36",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelMessengerSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "20bc9963bd38cecd"
            ]
        ]
    },
    {
        "id": "143f5aab61d50213",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "f6471c0a62158f36",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelHistorySwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 1220,
        "y": 300,
        "wires": [
            [
                "3d6014238e34a9f7"
            ]
        ]
    },
    {
        "id": "973f796e84a33d66",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE Klingel-Funktionen",
        "group": "f6471c0a62158f36",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "klingelEnableSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "e8f29149066f87f4"
            ]
        ]
    },
    {
        "id": "fccad90bd94b99c9",
        "type": "comment",
        "z": "5fffdd7bd03e62e5",
        "name": "Icon Location",
        "info": "Icons von hier: https://www.angularjswiki.com/de/angular/angular-material-icons-list-mat-icon-list/",
        "x": 1850,
        "y": 1520,
        "wires": []
    },
    {
        "id": "aca583a6f636c446",
        "type": "ui_slider",
        "z": "5fffdd7bd03e62e5",
        "name": "DisplayEnableLengthSlider",
        "label": "Display Nachrichten Anzeige Dauer",
        "tooltip": "Wie lange das Display der Klingel angeschaltet sein soll, wenn Nachrichten angezeigt werden (Sekunden)",
        "group": "89daac510a2e1762",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "20",
        "max": "120",
        "step": "5",
        "x": 1860,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "3dca137f04c1e546",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DisplayEnableSwitch",
        "label": "Display Aktiviert",
        "tooltip": "Aktiviere oder Deaktiviere das gesamte Display",
        "group": "89daac510a2e1762",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": true,
        "x": 1840,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "dbcb72ea2499425f",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "4f1ab8464bc5464e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 810,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "4cd31330b52b3137",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "4f1ab8464bc5464e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 830,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "9b16915562a81479",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "4f1ab8464bc5464e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 820,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f6868c2c5fd238",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE HaustürDetector-Funktionen",
        "group": "4f1ab8464bc5464e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 820,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "68216fb4b645c9c9",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "08607024c7e3ecad",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "detectorAudioSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "f734139f51182b01"
            ]
        ]
    },
    {
        "id": "22a7059a1493c173",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "08607024c7e3ecad",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "detectorMessengerSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 1350,
        "y": 640,
        "wires": [
            [
                "a8f13040b0acdf98"
            ]
        ]
    },
    {
        "id": "10805ae9a692204d",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "08607024c7e3ecad",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "detectorHistorySwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "0f2dc082c6d61e52"
            ]
        ]
    },
    {
        "id": "987d0d3373e37370",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE BriefkastenDetector-Funktionen",
        "group": "08607024c7e3ecad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "detectorEnableSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 660,
        "y": 620,
        "wires": [
            [
                "6feb46805eac59c9"
            ]
        ]
    },
    {
        "id": "93e67ab1ccab8516",
        "type": "ui_template",
        "z": "5fffdd7bd03e62e5",
        "group": "242479a4a77e0476",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "TODO\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1840,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "08d5d3b223e1af86",
        "type": "mqtt in",
        "z": "5fffdd7bd03e62e5",
        "name": "MQTT RECEIVER",
        "topic": "/DoorAssistant/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "6bccc9f8e5419fdf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "067fe98f6691059c"
            ]
        ]
    },
    {
        "id": "067fe98f6691059c",
        "type": "switch",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/DoorAssistant/Klingel",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/DoorAssistant/Detector",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 740,
        "wires": [
            [
                "4002428cebcdc6b2"
            ],
            [
                "5ad77385a7cb7f0e"
            ],
            [
                "8226624aabd5304c"
            ]
        ]
    },
    {
        "id": "5ad77385a7cb7f0e",
        "type": "switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DETECTOR",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/DoorAssistant/Detector/Input",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "6feb46805eac59c9"
            ],
            [
                "85b25059f6f16227"
            ]
        ]
    },
    {
        "id": "4002428cebcdc6b2",
        "type": "switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KLINGEL",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/DoorAssistant/Klingel/Press",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "e8f29149066f87f4"
            ],
            [
                "9c60fdbfb32214d1"
            ]
        ]
    },
    {
        "id": "9c60fdbfb32214d1",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "CATCHALL",
        "func": "node.warn(\"Received Invalid payload ( \" + msg.payload + \") at topic \" + msg.topic);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [],
        "icon": "font-awesome/fa-exclamation-triangle"
    },
    {
        "id": "85b25059f6f16227",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "CATCHALL",
        "func": "node.warn(\"Received Invalid payload ( \" + msg.payload + \") at topic \" + msg.topic);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 780,
        "wires": [],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "8226624aabd5304c",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "CATCHALL",
        "func": "node.warn(\"Received Invalid payload ( \" + msg.payload + \") at topic \" + msg.topic);\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1080,
        "wires": [],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "7890b33b97cbd6a5",
        "type": "speakerpi-output",
        "z": "5fffdd7bd03e62e5",
        "choose": "givenfile",
        "filename": "/home/pi/police_s.wav",
        "channels": "1",
        "bitdepth": "16",
        "samplerate": "22050",
        "name": "SPEAKER",
        "x": 1250,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9d99a3159b10648f",
        "type": "rpi-gpio in",
        "z": "5fffdd7bd03e62e5",
        "name": "GPIO DOOR DETECTOR",
        "pin": "18",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 210,
        "y": 1580,
        "wires": [
            [
                "3ee83696547bb690"
            ]
        ]
    },
    {
        "id": "3ee83696547bb690",
        "type": "debug",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e8f29149066f87f4",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Enable-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelEnableSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 260,
        "wires": [
            [
                "29bba17caca2abd1",
                "20bc9963bd38cecd",
                "3d6014238e34a9f7"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "29bba17caca2abd1",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Audio-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelAudioSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "7890b33b97cbd6a5"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "20bc9963bd38cecd",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Messenger-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelMessengerSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 240,
        "wires": [
            [
                "8a392a872272720a"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "3d6014238e34a9f7",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "History-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"klingelHistorySwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 420,
        "wires": [
            [
                "3ccb61d424dc9016"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "8a392a872272720a",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Klingel Messenger Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 240,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "3ccb61d424dc9016",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Klingel History Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 420,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "6feb46805eac59c9",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Enable-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"detectorEnableSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 680,
        "wires": [
            [
                "f734139f51182b01",
                "a8f13040b0acdf98",
                "0f2dc082c6d61e52"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "f734139f51182b01",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Audio-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"detectorAudioSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "beb2781250a79020"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "a8f13040b0acdf98",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "Messenger-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"detectorMessengerSwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 680,
        "wires": [
            [
                "61067648c92aba1c"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "0f2dc082c6d61e52",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "History-GATE",
        "func": "var enabled = context.get(\"status\");\n\nif(msg.topic === \"detectorHistorySwitch\"){\n    enabled = msg.payload;\n    context.set(\"status\", msg.payload);\n    \n    return null; //no message on state change\n}else{\n    if(enabled){\n        return msg; //passthrough button press\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ncontext.set(\"status\", false);",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 780,
        "wires": [
            [
                "e3e8cf52c16925cd"
            ]
        ],
        "icon": "font-awesome/fa-question"
    },
    {
        "id": "beb2781250a79020",
        "type": "speakerpi-output",
        "z": "5fffdd7bd03e62e5",
        "choose": "givenfile",
        "filename": "/home/pi/police_s.wav",
        "channels": "1",
        "bitdepth": "16",
        "samplerate": "22050",
        "name": "SPEAKER",
        "x": 1530,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "61067648c92aba1c",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Detector Messenger Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 680,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "e3e8cf52c16925cd",
        "type": "function",
        "z": "5fffdd7bd03e62e5",
        "name": "",
        "func": "node.warn(\"Received Detector History Call\")\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 780,
        "wires": [],
        "icon": "font-awesome/fa-unlink"
    },
    {
        "id": "f6471c0a62158f36",
        "type": "ui_group",
        "name": "Klingel",
        "tab": "8c3a0fe6168eb6b2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "89daac510a2e1762",
        "type": "ui_group",
        "name": "Display",
        "tab": "8c3a0fe6168eb6b2",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "4f1ab8464bc5464e",
        "type": "ui_group",
        "name": "Detector - Haustür",
        "tab": "8c3a0fe6168eb6b2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "08607024c7e3ecad",
        "type": "ui_group",
        "name": "Detector - Briefkasten",
        "tab": "8c3a0fe6168eb6b2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "242479a4a77e0476",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "71a8f076f9291d03",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "6bccc9f8e5419fdf",
        "type": "mqtt-broker",
        "name": "localhost MQTT broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8c3a0fe6168eb6b2",
        "type": "ui_tab",
        "name": "Konfiguration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71a8f076f9291d03",
        "type": "ui_tab",
        "name": "Historie",
        "icon": "grid_on",
        "disabled": false,
        "hidden": false
    }
]