software/NodeRED/flows.json
[
    {
        "id": "5fffdd7bd03e62e5",
        "type": "tab",
        "label": "DoorAssistant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d5d944f5b3b1c0c",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "f6471c0a62158f36",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 190,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2fbf4487aff65037",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "f6471c0a62158f36",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "143f5aab61d50213",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "f6471c0a62158f36",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "973f796e84a33d66",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "KlingelEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE Klingel-Funktionen",
        "group": "f6471c0a62158f36",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 200,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fccad90bd94b99c9",
        "type": "comment",
        "z": "5fffdd7bd03e62e5",
        "name": "Icon Location",
        "info": "Icons von hier: https://www.angularjswiki.com/de/angular/angular-material-icons-list-mat-icon-list/",
        "x": 70,
        "y": 20,
        "wires": []
    },
    {
        "id": "aca583a6f636c446",
        "type": "ui_slider",
        "z": "5fffdd7bd03e62e5",
        "name": "DisplayEnableLengthSlider",
        "label": "Display Nachrichten Anzeige Dauer",
        "tooltip": "Wie lange das Display der Klingel angeschaltet sein soll, wenn Nachrichten angezeigt werden (Sekunden)",
        "group": "89daac510a2e1762",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "20",
        "max": "120",
        "step": "5",
        "x": 1320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3dca137f04c1e546",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DisplayEnableSwitch",
        "label": "Display Aktiviert",
        "tooltip": "Aktiviere oder Deaktiviere das gesamte Display",
        "group": "89daac510a2e1762",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": true,
        "x": 1300,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dbcb72ea2499425f",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "4f1ab8464bc5464e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 570,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4cd31330b52b3137",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "4f1ab8464bc5464e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 590,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9b16915562a81479",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "4f1ab8464bc5464e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 580,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f6868c2c5fd238",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "DoorDetectorEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE HaustürDetector-Funktionen",
        "group": "4f1ab8464bc5464e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "68216fb4b645c9c9",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorAudioSwitch",
        "label": "Audio-Signal",
        "tooltip": "Spielt einen Sound auf dem Raspberry-Pi ab",
        "group": "08607024c7e3ecad",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "notifications",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "notifications_off",
        "offcolor": "RED",
        "animate": false,
        "x": 950,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "22a7059a1493c173",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorMessengerSwitch",
        "label": "Messenger-Nachricht",
        "tooltip": "Versende Benachrichtung per eingestelltem Messenger-Dienst",
        "group": "08607024c7e3ecad",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "chat",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "chat_bubble_outline",
        "offcolor": "RED",
        "animate": false,
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "10805ae9a692204d",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorHistorieSwitch",
        "label": "Schreibe in Historie",
        "tooltip": "Schreibe Klingeln in Historientabelle",
        "group": "08607024c7e3ecad",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "grid_on",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "grid_off",
        "offcolor": "RED",
        "animate": false,
        "x": 960,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "987d0d3373e37370",
        "type": "ui_switch",
        "z": "5fffdd7bd03e62e5",
        "name": "BriefkastenDetectorEnableSwitch",
        "label": "Aktiv",
        "tooltip": "Aktiviere oder deaktivere ALLE BriefkastenDetector-Funktionen",
        "group": "08607024c7e3ecad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "settings_power",
        "oncolor": "GREEN",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "settings_power",
        "offcolor": "RED",
        "animate": false,
        "x": 960,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "93e67ab1ccab8516",
        "type": "ui_template",
        "z": "5fffdd7bd03e62e5",
        "group": "242479a4a77e0476",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "TODO\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f6471c0a62158f36",
        "type": "ui_group",
        "name": "Klingel",
        "tab": "8c3a0fe6168eb6b2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "89daac510a2e1762",
        "type": "ui_group",
        "name": "Display",
        "tab": "8c3a0fe6168eb6b2",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "4f1ab8464bc5464e",
        "type": "ui_group",
        "name": "Detector - Haustür",
        "tab": "8c3a0fe6168eb6b2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "08607024c7e3ecad",
        "type": "ui_group",
        "name": "Detector - Briefkasten",
        "tab": "8c3a0fe6168eb6b2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "242479a4a77e0476",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "71a8f076f9291d03",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "8c3a0fe6168eb6b2",
        "type": "ui_tab",
        "name": "Konfiguration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71a8f076f9291d03",
        "type": "ui_tab",
        "name": "Historie",
        "icon": "grid_on",
        "disabled": false,
        "hidden": false
    }
]